# Zabbix Server configuration file

DBHost=localhost
DBName=zabbix
DBUser=zabbix
DBPassword={{ zabbix_db_password }}
LogFile=/var/log/zabbix/zabbix_server.log
PidFile=/var/run/zabbix/zabbix_server.pid
StartPollers=5
StartIPMIPollers=1
StartPollersUnreachable=1
